.ChatDisplay-message-list {
    height: 80vh;
    overflow: auto;
    overflow-y: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ChatDisplay-message-list-item {

    background-color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 10px;

}